.card-about {
    border-radius: 20px;
    text-align: center;
    background-color: rgba(222, 218, 206, 0.894);
    transition: 0.3s;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
} 

.card-about > img{
    border-radius: 20px;
    height: 500px;
}

.card-container {
    padding: 2px 16px;
    margin: 30px;
}

.card-container > p {
    font-size: 17px;
    margin: 20px;
}